<launch>
  <!-- Launch carla_ros_bridge with args -->
  <arg name="town" default="WarehouseGroundTent"/>

  <arg name="simulate_ros_sensors" doc="Set to true to add in ROS sensors." default="false"/>
  <arg name="sensor_config_name" default="tentmapcamera.json" doc="Filename of the JSON config in carla_spawn_objects/config/"/>
  
  <arg name="oscillate_object" doc="set to true to include motion of the object" default="false"/>


  <include file="$(find carla_ros_bridge)/launch/carla_ros_bridge.launch">
    <arg name="synchronous_mode" value="true"/>
    <arg name="town" value="$(arg town)"/>
    <arg name="fixed_delta_seconds" value="0.05"/>
  </include>

  <!-- Run lerp_object.py -->
  <node pkg="carla_spawn_objects" type="lerp_object.py" name="lerp_object" output="screen" 
    args="--spawn-blueprint-name static.prop.box01 --wait-for-carla-status"/>

  <!-- Run oscillate_transform.py -->
  <group if="$(arg oscillate_object)">
    <node pkg="carla_spawn_objects" type="oscillate_transform.py" name="oscillate_transform" output="screen"/>
  </group>


  <!-- include ROS sensors-->
  <group if="$(arg simulate_ros_sensors)">
    <node pkg="carla_spawn_objects" type="carla_spawn_objects.py" name="spawn_from_config" output="screen">
      <param name="objects_definition_file" value="$(find carla_spawn_objects)/config/$(arg sensor_config_name)"/>
    </node>
  </group>

</launch>
